@model IEnumerable<SAT.DATA.EF.Models.ScheduledClass>

@{
    ViewData["Title"] = "Index";
}
<div class="crumbs-area">
    <div class="container">
        <div class="crumb-content">
            <h4 class="crumb-title"><span>Scheduled </span>Classes</h4>
        </div>
    </div>
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Scheduler"))
{    
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scs.Scsname)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Scheduler"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ScheduledClassId">Edit</a> <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.ScheduledClassId">Details</a> <span>|</span>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ScheduledClassId">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
